////Variables////
@import "variables/general";
@import "variables/colors";
@import "variables/fonts";

////Images////
@import "images/backgrounds";

////Base////
@import "base/general";
@import "base/mixins";

////Components////
@import "components/links";
@import "components/forms";
@import "components/inputs";
@import "components/buttons";
@import "components/recaptcha";
@import "components/counter";
@import "components/colorbar";
@import "components/fontawesome";

///Header
#header{
	display: flex;

	position: fixed;
	top: 5px;
	left: 0;

	min-width: 100%;
	width: 100%;
	max-width: 100%;

	min-height: 50px;
	height: 10%;
	max-height: 100px;

	margin: {
		left: auto;
		right: auto;
		bottom: 5px;
	}

	vertical-align: middle;
	text-align: center;
	align-items: center;
	justify-content: center;

	border-bottom: 1px solid #000000;
	
	background: linear-gradient(rgba(220,220,220,0.9),rgba(245,245,245,0.9),rgba(250,250,250,0.9),rgba(250,250,250,0.9));

	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);

	z-index: 5;

	font : {
		family: $font-header;
		size: 1.5em;
	}

	letter-spacing: 0.05em;
}

#header-logo{
	flex-grow: 7;
	height: 75%;
	text-align: left;

	margin: {
		left: 5%;
		right: -5%;
	}

	img{
		height: 100%;
		width: auto;
	}
}

.header-item{
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;

	margin: {
		right: 5px;
		left: 5px;
	}

	text-shadow: -1px 1px 2px rgba(200,200,200,0.75);

	& a{
		&, &:visited, &:active, &:link{
			text-decoration: none;
			color: #222222;
			transition: color 1s ease;
		}
		&:hover{
			color: #666666;
		}
	}	
}

.header-item-highlight{
	margin-right: 5%;

	padding: {
		top: 0.25em;
		bottom: 0.25em;
	}

	box-shadow: -1px 1px 2px rgba(0,0,0,0.5),
				inset -1px 1px 2px rgba(0,0,0,0);
	text-shadow: -1px 1px 2px rgba(100,100,100,0.75);

	&, &.header-item:last-child, & a, & a:visited, & a:active, & a:link{
		background-color: $color-gold-light;
		color: $color-white;
		transition:	color 1s ease,
					background-color 1s ease,
					box-shadow 0.5s linear;
	}

	&:hover{
		color: #FFFFFF !important;
		background-color: $color-gold !important;
		box-shadow: -1px 1px 2px rgba(0,0,0,0),
			  inset -1px 1px 2px rgba(0,0,0,0.5);
	}
}

///Content
#content-container{
	position: absolute;
	top: 0;
	left: 0;

	overflow: {
		y: scroll;
		x: hidden;
	}
}

.content-page{
	height:100vh;
	min-height:100vh;
	min-width: 100vw;
	width: 100vw;
	background-size: cover;
	z-index: 1;
	color: $color-white;
	box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,1);
	display: flex;
	justify-content: center;

	align: {
		content: center;
		items: center;
	}
}

#Home{
	@include content-page-background($background-image-home);
}

#About{
	@include content-page-background($background-image-about);
}

#Community{
	@include content-page-background($background-image-community);
}

#Donate{
	@include content-page-background($background-image-donate);
}

#Contact{
	@include content-page-background($background-image-contact);
}

#Mail{
	@include content-page-background($background-image-mail);
}

#Login{
	@include content-page-background($background-image-login);
}

.content-wrapper{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	z-index: 1;
	text-align: center;
	background: rgba(0,0,0,0.325);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 3px 6px 1px rgba(0,0,0,0.26), 0 3px 6px 1px rgba(0,0,0,0.33);
	
	&.no-background{
		box-shadow: none;
		background: none;
	}
}

.content-header{
	min-width: 40rem;
	width: 60vw;

	.content-wrapper.no-background > & {
		width: 100vw;
		
		& .content-content{
			width: 60vw;
		}
	}

	align-self: center;
	text-align: center;
	vertical-align: middle;
	
	font: {
		family: $font-title;
		weight: 700;
		size: 4em;
	}

	letter-spacing: 0.05em;
	text-shadow: 0px 1px 10px rgba(0,0,0,0.75);
}

.content-subheader{
	@extend .content-header;
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

#welcome{
	background: none;
	padding: 0px;
	border-radius: 0px;
}

.content-content{
	min-width: 40rem;
	width: 60vw;

	.content-wrapper.no-background > & {
		width: 60vw;
		margin-top: 10px;
		background: rgba(0,0,0,0.325);
		border-radius: 10px;
		padding: 10px;
		box-shadow: 0 3px 6px 1px rgba(0,0,0,0.26), 0 3px 6px 1px rgba(0,0,0,0.33);
	}
	
	margin: {
		left: auto;
		right: auto;
	}

	font: {
		family: $font-body;
		weight: 400;
		size: 1.25em;
	}

	text-align: justify;
}

.content-item{
	margin-bottom: 1em;
}

#Contact .content-item, .content-item:last-child{
	margin-bottom: 0em;
}

///Footer
#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	background: rgba(10,10,10,0.325);
	color: $color-white;
	text-align: center;
	display: flex;
	align-items: center;
	box-shadow: 0px -1px 2px rgba(0,0,0,0.5);

	& .fa{
		text-shadow: none;
	}

	& .footer-listing.left{
		margin-left: 25px;
	}

	& .footer-listing.right{
		margin-right: 25px;
	}

	& #source{
		flex: {
			shrink: 1;
			grow: 1;
		}
	}
}

.footer-listing{
	flex: 2 1 0;
	font-family: $font-body;
}

///Misc
.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

////Support
@import "support/mobile.scss";
