$background-image-home: url("../images/people-woman-coffee-meeting.jpg");
$background-image-about: url("../images/people-coffee-tea-meeting.jpg");
$background-image-community: url("../images/pexels-photo-131372.jpeg");
$background-image-donate: url("../images/pexels-photo-242587.jpeg");
$background-image-contact: url("../images/pexels-photo-220197.jpeg");
$background-image-mail: url("../images/man-hands-holidays-looking.jpg");
